{
  "arrowParens": "always",
  "bracketSpacing": true,
  "importOrder": [
    "^react$",
    "^react-native$",
    "^prop-types$",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "^(?!.*[.]css)src/(?!icons)(?!stores)(.*)$",
    "^src/stores/(.*)$",
    "^src/stores$",
    "^(?!.*[.]css)[.]",
    "",
    "^src/icons$",
    "^src/icons/(.*)$",
    "(.*).css$",
    ""
  ],
  "importOrderSortSpecifiers": true,
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "printWidth": 80,
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none"
}
